# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
**/__pycache__/**

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# celery 
celerybeat-schedule.* 
worker.file
beat.file

# Environments 
.env 
.venv 
venv/ 


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
=======
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg



# celery beat schedule file
celerybeat-schedule


# dotenv
.env

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid

notes.txt
logs/
/migrations/

# Ignore Django Migrations in Development if you are working on team

Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py

notes
